.part {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin: auto;
}

.full_part {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -50px !important;
}
.for_p p {
  padding-bottom: 10px;
  padding-left: 30px;
}
