.image_company {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.description_company_small {
  display: flex;
  gap: 10px;
}
h4 {
  color: rgb(128, 128, 128);
}
.company1 {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
